@charset "UTF-8";
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#main {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
}

#stars {
  position: relative;
  width: 100%;
  height: 100%;
}

#full-screen {
  font-family: sans-serif;
  text-transform: uppercase;
  position: absolute;
  right: 2%;
  top: 1%;
  color: white;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

#full-screen::before {
  content: "Х";
}

#full-screen.notfullscreen {
  background-color: rgba(255, 255, 255, 0.4);
}

#full-screen.notfullscreen::before {
  content: "На весь экран";
}

#solar-system,
#path {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#solar-system {
  background-color: yellow;
  -webkit-box-shadow: 0 0 15px 5px yellow;
          box-shadow: 0 0 15px 5px yellow;
}

#path {
  border: solid 1px rgba(255, 255, 255, 0.2);
}

.planet {
  -webkit-animation: infinite linear;
          animation: infinite linear;
}

.star {
  -webkit-box-shadow: 0 0 10px 1px white;
          box-shadow: 0 0 10px 1px white;
}

@-webkit-keyframes movePlanetCW {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes movePlanetCW {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes movePlanetCCW {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes movePlanetCCW {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
